*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #504954;
    font-family: 'Limelight', cursive;

}
.logo{
    color: rgba(226, 226,226);
    text-transform: uppercase;
    letter-spacing: 5px;
   font-size: 20px;
}
.links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.links li{
    list-style-type: none;
}
.links a{
    color: rgba(226, 226,226);
    text-decoration: none;
    letter-spacing: 3px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.burger{
    display: none;
}
.burger div{
width: 25px;
height: 3px;
background-color: rgb(236, 234, 234);
margin: 5px;
} 
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
  .links{
      position: absolute;
      right: 0;
      height: 92vh;
      top: 8vh;
      background: #504954;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform:translateX(100%);
      transition:transform 0.5s ease-in;
  }
  .links li {
      opacity: 1;
  }
.burger{
    display: block;
    cursor:pointer;
}
}
.nav-active{
    transform: translateX(0)
}
.contact{
width: 50%;
position: absolute;
margin-top: 0px;
height:92vh;
background-image: url('./bcg/p1.jpeg');
background-attachment: fixed;
background-position: space-between;
display: flex;
justify-content: center;
align-items: center;
background-size: cover;
background-repeat: no-repeat;
}
.click{
    background-color: rgba(226, 226,226);
    padding: 8px 16px;
    outline: none;
    color: #504954;
    cursor: pointer;
}
